@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-top: 0%;
    box-sizing: border-box;
}

.jobList {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); 
    gap: 2.5rem;
}

.jobCard {
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 38rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #ece9e9;
    box-shadow: 2px -2px 2px rgba(137, 136, 136, 0.15), -2px 2px 2px rgba(137, 136, 136, 0.15);
    border-radius: 1rem;
    position: relative;
}



.postBox{
    width:100%;
}

.postText{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    width:8.5rem;
    font-size: 0.7rem;
    height:1.5rem;
    border:1px solid #bfbdbd;
    border-radius: 0.7rem;
    box-shadow: 0.5px 0.5px 0.5px rgba(210, 210, 210, 0.9);
}

.companyInfo{
    width:100%;
    padding-top:1rem;
    box-sizing: border-box;
    display: flex;
}

.companyLogo{
    width:2rem;
    height:3rem;
}

.companyDet{
    display:flex;
    width:100%;
    flex-direction: column;
    padding-left:0.4rem;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.role,.location{
    font-family: "Lexend", sans-serif;
    font-weight: 300;  
    padding:1%;
    font-size: 1rem;
    margin:0%; 
}

.location{
    padding-bottom: 0%;
    font-size: 0.7rem;
    font-weight: 450;
}

.companyName{
    font-family: "Lexend", monospace;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:#807e7e;
    font-size: 0.9rem;
    padding:1%;
    margin:0%;
}

.salary{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #868383;
}

.aboutCompany,.about{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    padding:0%;
    margin: 0%;
}

.about{
    font-weight: 500;
    font-size: 0.9rem;
}


.jobDesc {
    font-family: "Lexend", sans-serif;
    font-weight: 300; 
    font-size: 0.9rem;
    padding-top: 0%; 
    margin: 0%; 
    max-height: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 11;
}



.overlay{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width:100%;
    height:40%;
    padding: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0));
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:1rem;
    box-sizing: border-box;
}

.showMore{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#4C47D8;
    font-weight: 300;
    font-family: "Lexend", sans-serif;
    font-size: 0.8rem;
}

.exp{
    font-family: "Lexend", sans-serif;
    font-weight: 400; 
    font-size: 0.8rem;
    color:#807e7e;
    letter-spacing: 0.1rem;
    padding: 0%;
    margin: 0%;
    padding-bottom:2%;
}

.years{
    color:#000;
    font-weight: 300;
    font-family: "Lexend", sans-serif;
    font-size: 0.8rem;
    padding: 0%;
    margin: 0%;
    padding-bottom:2%;
}

.applyButton,.referal{ 
    width:100%;
    height:2.5rem;
    font-family: "Lexend", sans-serif;
    font-weight: 400; 
    font-size: 0.9rem;
    border:1px solid #71f0c4;
    border-radius: 0.5rem;
    background-color: #71f0c4;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.referal{
    height:2.7rem;
    color:#fff;
    border:1px solid #4C47D8;
    background-color: #4C47D8;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}

.profile{
    width:2rem;
    height:2rem;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        box-sizing: border-box;
    }

}