@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.container{
    width:100%;
    height:10rem;
    padding:5rem;
    padding-top:2rem;
    padding-bottom:0%;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
}

.roleBox,.payBox,.locBox,.remBox,.expBox,.name{
    width:8rem;
    height:2rem;
    display: flex;
    align-items: center;
    border:1.5px solid #d9d9d9;
    border-radius: 0.3rem;;
    position: relative;
}

.payBox,.name{
    width:18rem;
}

.dropDown{
    position: absolute;
    top:110%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding:1rem;
    box-sizing: border-box;
    border: 2px solid #d9d9d9;
    border-radius: 0.3rem;
    background-color: #fff;
    z-index:1;
}

.options{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color:#000;
    width:100%;
    height:2rem;
    background-color: #fff;
}

.input{
    width:80%;
    border: none;
    outline: none;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    padding-left:1rem;
    box-sizing: border-box;
}

span{
    color:#d9d9d9
}
.input:focus{
    border: none;
}

.down{
    width:1rem;
    height:1rem;
}


@media only screen and (max-width: 768px) {
    .container {
        height:20rem;
        padding:1rem;
    }

}